#header{
    background-color: rgb(0, 183, 255);
    width: 100%;
    height: 100px;
    margin-top: -10px ;
    margin-left: -10px;
    padding: 0px;
} 
#header h1{
    font-weight: lighter;
    color: white;
    padding: 30px;
    float: left;
}
body
{
    background-color: rgb(207, 218, 219);
}
.course-types{
    margin: 15px;
}
.course-types button{
    background-color: rgb(114, 165, 114);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    border-width: 0px;
    width: 150px;
    height: 35px;
}
.course-types #all{
    background-color: rgb(255, 150, 29);
}
.cards-row *{
    display: inline-block;
}
.courses-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    height: auto;
    border-radius: 5px;
    margin: 20px;
    margin-top: 50px;
 }
.courses-card .course-title{
    height: 65px;
    width: 100%;
    background-color: rgb(127, 155, 246);
    margin-top: -16px;
    padding-top: 5px;
    vertical-align: middle;
    text-align: center;
}
.courses-card .card-footer{
    height: 65px;
    width: 100%;
    background-color: white;
    color: black;
    vertical-align: middle;
    border-radius: 5px;
}

.card-footer .footer-leftpane{
    float: left;
    text-align: left;
    width: 50%;
    padding-left: 5px;
}

.card-footer .footer-leftpane p {
    margin-top: -15px;
    color: rgb(58, 55, 55);
}

.card-footer .footer-rightpane{
    float: right;
    text-align: left;
    width: 40%;
}

.card-footer .footer-rightpane p {
    color: rgb(105, 104, 104);
}

.courses-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.897);
}

img {
border-radius: 5px 5px 0 0;
}

.container {
    color: white;
}




