.page-header{
    width: 100%;
    height: 100px;
    border: transparent;
}
.left-pane{
    width: 30%;
    height: 100%;
    float: left;
}
.right-pane{
    width: 70%;
    height: 100%;
    float: right;
}
.login{
    width: 100%;
    height: 30%;
}
.login-buttons{
    width: 50%;
    height: 100%;
    margin-top: -20px;
    padding-left: 100px;
    float: right;
}
#star{
    box-shadow: -3px 2px #888888;
    background-color: rgb(255, 175, 25);
    color: white;
    border: transparent;
    border-radius: 0px;
    font-size: small;
    margin-right: 50px;
}
#login-register{
    box-shadow: -3px 2px #a3a2a2;
    border: transparent;
    border-radius: 0px;
    background-color: rgb(114, 165, 114);
    color: white;
}
.navigation{
    width: 100%;
    height: 70%;
}
.navigation .navigation-buttons{
    padding: 15px;
    margin-left: 50px;
}
.navigation .navigation-buttons button{
    color: green;
    border: transparent;
    margin: 5px;
}

#contact{
    margin-left: 50px;
    width: 100%;
    height: 20%;
    margin-top: -15px;
    font-size: small;
}
#name{
    margin-left: 50px;
    margin-top: 40px;
    width: 100%;
    height: 80%;
    font-family: papyrus;
    font-weight: 500;
    color: seagreen;
}
.pages-iframe{
    margin-top: -20px;
    margin-left: 10px;
    margin-right: 50px;
    padding: 0px;
    width: 100%;
    height: 700px;
    border-top-style: dashed;
}
